body {
    background-color: #f1f5fd;
}

header h1 {
    text-align: left !important;
    margin: 1rem auto 1rem 1rem;
}

.content-container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 20px lightgray;
    border-top: 10px solid #26a69a;
    border-bottom: 10px solid #ef5450 ;
}
