<!-- GAME HTML PAGE -->

{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/gamepage.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/commonScript.js') }}"></script>
<script src="{{ url_for('static', filename='js/gameScript.js') }}"></script>
{% endblock %}

{% block content %}
<!-- this div is used to turn on the overlay after the trial count is exhausted -->
<div class="gameOverlay" id="overlay">
    <div class="overlay-content-container">
        <p>Thanks for taking the experiment.</p>
        <br>
        <p>Click Submit to get your submission code.</p>
        <br>
        <button onclick="turnOffOverlay()" id="overlay-next-button">Submit</button>
    </div>
</div>

<!-- this div is used to turn on the overlay when a certain trail count is hit at which a question is asked -->
<div class="training-question-overlay" id="question-overlay">
    <div class="question-content-container">
        <h3>QUESTION</h3>
        <br>
        <p class="question">Question Placeholder Text</p>
        <br>
        <div class="answer-options"><i>placeholder text for populating answer options</i></div>
        <br>
        <button onclick="hideQuestionOverlay()" id="question-submit-button">Submit Answer</button>
    </div>
</div>

<!--  div to display the counters of trial and reward -->
<div class="game-counters">
    <div class="counter-indicator trial-count">
        <p>Trails: &nbsp; <span class="running-trial-count">--</span>/<span class="total-trial-count">---</span></p>
    </div>
    <div class="counter-indicator reward-count">
        <p>Total reward: &nbsp; <span class="running-reward-count">--</span></p>
    </div>
</div>
<div class="game-container text-center">
    <!-- Content is rendered here by the commonScript and gameScript js files -->
</div>

{% endblock %}